/* MATRIX */

#matrix{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

z-index:-2;

opacity:0.35;

}

/* FLOAT */

.calculator{

animation:floatCalc 5s ease-in-out infinite;

}

@keyframes floatCalc{

0%,100%{
transform:translateY(0px);
}

50%{
transform:translateY(-8px);
}

}

/* DISPLAY GLOW */

#display{

box-shadow:

inset 0 0 20px rgba(0,0,0,0.4),

0 0 20px rgba(0,212,255,0.12);

text-shadow:
0 0 10px rgba(0,212,255,0.35);

}

/* BUTTON EFFECTS */

.buttons button,
.action-btn,
.controls button,
#scientificToggle{

cursor:pointer;

transition:0.18s ease;

position:relative;

overflow:hidden;

}

/* HOVER */

.buttons button:hover,
.action-btn:hover,
.controls button:hover,
#scientificToggle:hover{

transform:
translateY(-3px)
scale(1.03);

}

/* CLICK */

.buttons button:active,
.action-btn:active,
.controls button:active,
#scientificToggle:active{

transform:scale(0.95);

}

/* SHINE */

.buttons button::before,
.action-btn::before{

content:"";

position:absolute;

top:0;
left:-100%;

width:100%;
height:100%;

background:
linear-gradient(
90deg,
transparent,
rgba(255,255,255,0.15),
transparent
);

transition:0.5s;

}

.buttons button:hover::before,
.action-btn:hover::before{

left:100%;

}

/* HISTORY */

.history{

height:60px;

overflow-y:auto;

margin-bottom:18px;

padding:12px;

border-radius:18px;

background:
rgba(255,255,255,0.03);

font-size:13px;

color:#cbd5e1;

}

/* SCI BUTTONS */

.scientific-buttons{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:12px;

margin-bottom:18px;

}

.scientific-buttons button{

height:60px;

border:none;

border-radius:18px;

background:#111827;

color:white;

font-size:18px;
font-weight:700;

}

/* HIDDEN */

.hidden{

display:none;

}

/* FILE BUTTON */

.card input[type="file"]::file-selector-button{

background:
linear-gradient(
90deg,
#00d4ff,
#7c3aed
);

border:none;

padding:10px 14px;

border-radius:10px;

color:white;

font-weight:700;

margin-right:10px;

cursor:pointer;

}

/* SCROLL */

::-webkit-scrollbar{

width:6px;

}

::-webkit-scrollbar-thumb{

background:#00d4ff;

border-radius:20px;

}

/* GLASS EFFECT */

.card,
.calculator{

backdrop-filter:blur(20px);

}

/* TOUCH FIX */

html,body{

touch-action:manipulation;

-webkit-tap-highlight-color:transparent;

}